<a href="https://colab.research.google.com/github/BharatXBhalla/International-GHG-Emission-API/blob/main/EDA/Preprocessing_GHG_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [4]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [5]:
! cp kaggle.json ~/.kaggle/

In [6]:
! chmod 600 ~/.kaggle/kaggle.json

In [11]:
! kaggle datasets download -d unitednations/international-greenhouse-gas-emissions

Downloading international-greenhouse-gas-emissions.zip to /content
  0% 0.00/107k [00:00<?, ?B/s]
100% 107k/107k [00:00<00:00, 42.9MB/s]

In [12]:
!unzip international-greenhouse-gas-emissions.zip

Archive:  international-greenhouse-gas-emissions.zip
  inflating: greenhouse_gas_inventory_data_data.csv

In [16]:
filename="greenhouse_gas_inventory_data_data.csv"

In [14]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv(filename)

In [18]:
df.head()

  country_or_area  ...                                           category
0       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
1       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
2       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
3       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
4       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...

[5 rows x 4 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8406 entries, 0 to 8405
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_or_area  8406 non-null   object
 1   year             8406 non-null   int64
 2   value            8406 non-null   float64
 3   category         8406 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 262.8+ KB

In [26]:
df["country_or_area"].value_counts()

United States of America    250
European Union              250
Germany                     250
Japan                       225
France                      225
Canada                      223
Austria                     221
Italy                       217
Ireland                     216
Switzerland                 207
Belgium                     205
Norway                      200
Netherlands                 200
Russian Federation          200
Sweden                      200
United Kingdom              200
Romania                     200
Australia                   200
Greece                      200
Finland                     200
New Zealand                 198
Hungary                     198
Iceland                     197
Slovakia                    196
Slovenia                    195
Denmark                     194
Czech Republic              193
Poland                      191
Ukraine                     189
Portugal                    183
Malta                       179
Croatia                     178
Monaco                      177
Estonia                     175
Cyprus                      175
Spain                       175
Turkey                      174
Lithuania                   169
Liechtenstein               165
Latvia                      165
Bulgaria                    156
Luxembourg                  150
Belarus                     145
Name: country_or_area, dtype: int64

In [53]:
df[df["country_or_area"]=="Belarus"].sort_values("year").year

5468    1990
74      1990
4146    1990
1148    1990
2097    1990
        ...
2073    2014
1124    2014
7349    2014
5444    2014
50      2014
Name: year, Length: 145, dtype: int64

In [41]:
df[df["country_or_area"]=="United States of America"].year

1049    2014
1050    2013
1051    2012
1052    2011
1053    2010
        ...
8401    1994
8402    1993
8403    1992
8404    1991
8405    1990
Name: year, Length: 250, dtype: int64

In [54]:
df.groupby("country_or_area")["year"].min()

country_or_area
Australia                   1990
Austria                     1990
Belarus                     1990
Belgium                     1990
Bulgaria                    1990
Canada                      1990
Croatia                     1990
Cyprus                      1990
Czech Republic              1990
Denmark                     1990
Estonia                     1990
European Union              1990
Finland                     1990
France                      1990
Germany                     1990
Greece                      1990
Hungary                     1990
Iceland                     1990
Ireland                     1990
Italy                       1990
Japan                       1990
Latvia                      1990
Liechtenstein               1990
Lithuania                   1990
Luxembourg                  1990
Malta                       1990
Monaco                      1990
Netherlands                 1990
New Zealand                 1990
Norway                      1990
Poland                      1990
Portugal                    1990
Romania                     1990
Russian Federation          1990
Slovakia                    1990
Slovenia                    1990
Spain                       1990
Sweden                      1990
Switzerland                 1990
Turkey                      1990
Ukraine                     1990
United Kingdom              1990
United States of America    1990
Name: year, dtype: int64

In [32]:
df.isna().any()

country_or_area    False
year               False
value              False
category           False
dtype: bool

In [34]:
df.isna().any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
8401    False
8402    False
8403    False
8404    False
8405    False
Length: 8406, dtype: bool

In [55]:
df["category"].unique()

array(['carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent',
       'greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent',
       'methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent',
       'nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
       'perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent',
       'sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent',
       'unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent'],
      dtype=object)

In [57]:
df["category"].value_counts()

carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent     1074
greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent    1074
methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent            1074
nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent      1074
sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent                                                    1032
hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent                                                      975
greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent                    949
perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent                                                        831
nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent                                                     248
unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent          75
Name: category, dtype: int64

### Conclusion

There are no NaN Values.

Catergory needs to be mapped to memonics

Manco country latest year info avaiable is for 2013

In [60]:
category_mappings = {
    "carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent":'CO2',
"greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent":'GHG_Indirect_CO2',
"greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent":'GHG',
"hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent":'HFC',
"methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent":'CH4',
"nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent":'HF3',
"nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent":'N2O',
"perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent":'PFCs',
"sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent":'SF6',
"unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent":'HFC_Mix_PFC'
}

In [62]:
category_mappings.values()

dict_values(['CO2', 'GHG_Indirect_CO2', 'GHG', 'HFC', 'CH4', 'HF3', 'N2O', 'PFCs', 'SF6', 'HFC_Mix_PFC'])

In [63]:
len(category_mappings.values())

10

In [64]:
len(df["category"].unique())

10

In [67]:
df["short_category"]=df["category"].map(category_mappings)

In [69]:
df.head()

  country_or_area  ...  short_category
0       Australia  ...             CO2
1       Australia  ...             CO2
2       Australia  ...             CO2
3       Australia  ...             CO2
4       Australia  ...             CO2

[5 rows x 5 columns]

In [70]:
df.to_csv("Processed_GHG_Data.csv")